.site-info {
  letter-spacing: 0.02em;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  list-style: none;
  text-decoration: none;
  color: $add-color;

  @media screen and (max-width: 767px) {
    margin-top: 306px;
    margin-bottom: 64px;
    font-weight: 500;
    font-size: 34px;
    line-height: calc(40 / 34);
    list-style: none;
    letter-spacing: 0.02em;
  }

  &__link {
    color: $primary-text-color;
    text-decoration: none;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    @media screen and (min-width: 1200px) {
      &__item {
        margin-bottom: 32px;
      }
    }
  }

  @media screen and (min-width: 1200px) {
    .site-info {
      display: flex;
      align-items: center;
      margin-left: auto;

      &__item + &__item {
        margin-left: 40px;
      }
    }

    &__link {
      display: flex;
      align-items: center;
      justify-content: center;
    }

    &__link:hover,
    &__link:focus {
      color: $add-color;
    }

    &__envelop-icon,
    &__smartphone-icon {
      margin-right: 10px;
      fill: currentColor;
    }
  }
}
.contact__link--mail {
  @media screen and (max-width: 767px) {
    font-weight: 500;
    font-size: 24px;
    line-height: calc(28 / 24);
    letter-spacing: 0.02em;
    color: $primary-text-color;
  }
}

.mobile-menu {
  text-decoration: none;
  display: flex;

  &__item:not(:last-child) {
    border-right: 1px solid rgba(33, 33, 33, 0.2);
    padding: 0 10px;
  }
}

.contact__link{}