.site-info {
  letter-spacing: 0.02em;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  list-style: none;
  text-decoration: none;
  color: $add-color;
  display: flex;
  flex-direction: column;

  &__link:hover,
  &__link:focus {
    color: $add-color;
  }

  @media screen and (max-width: 767px) {
    margin-top: 306px;
    margin-bottom: 64px;
    gap: 32px;
  }
  @media screen and (min-width: 768px) and (max-width: 1199px) {
    margin-top: 21px;
    gap: 10px;
    &__envelop-icon,
    &__smartphone-icon {
      margin-right: 8px;
      fill: currentColor;
    }
  }

  &__link {
    color: $primary-text-color;
    text-decoration: none;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  &__item {
    @media screen and (min-width: 1200px) {
      padding-bottom: 32px;
      padding-top: 32px;
    }
  }

  @media screen and (min-width: 1200px) {
    flex-direction: row;
    justify-content: center;

    &__item + &__item {
      margin-left: 40px;
    }

    &__link {
      display: flex;
      align-items: center;
      justify-content: center;
    }

    &__link:hover,
    &__link:focus {
      color: $add-color;
    }

    &__envelop-icon,
    &__smartphone-icon {
      margin-right: 8px;
      fill: currentColor;
    }
  }
}

.site-info__link {
  @media screen and (max-width: 767px) {
    font-weight: 500;
    font-size: 24px;
    line-height: calc(28 / 24);
    letter-spacing: 0.02em;
    color: $primary-text-color;
  }
}

.site-info__link--color {
  color: $add-color;
}

.mobile-menu {
  display: flex;
  flex-wrap: wrap;

  &__social {
    color: $add-color;
    text-decoration: none;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
  }
}

.mobile-menu__item:not(:last-child) {
  border-right: 1px solid rgba(33, 33, 33, 0.2);
  padding-right: 10px;
}

.mobile-menu__item:not(:first-child) {
  padding-left: 10px;
}

.site-info__link--color {
  @media screen and(max-width:767px) {
    font-size: 34px;
    line-height: 1.1764705882;
    color: var(--accent-color);
    font-weight: 500;
    line-height: calc(40 / 34);
    list-style: none;
    letter-spacing: 0.02em;
  }
}
